:root {
  --yellow: #eef13f;
  --orange: #fe6638;
  --green: #80b238;
  --blue: #80c1d6;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--blue);
  color: #fff;
  font-family: Atma, sans-serif;
  margin: 0;
  font-size: 1.5rem;
}

h1,
h2 {
  margin-top: 0;
}

h1,
h2,
h1 + p,
button {
  font-family: Bangers, sans-serif;
  letter-spacing: 2px;
}

/* ... Your turn! ... */

.wrap {
  margin: auto;
}

nav ul {
  position: fixed;
  background-color: rgba(128, 178, 56, 0.85);
  text-transform: uppercase;
  margin: 0;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li {
  list-style-type: none;
  transition: 0.3s;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  color: var(--orange);
  text-shadow: 5px 5px white;
  background-image: url(../img/blue-splash.png);
  background-position: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  width: 100%;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  background-attachment: fixed;
}

main {
  width: 100%;
}

h1 {
  margin-bottom: 0;
}

h1 + p {
  margin-top: 0;
}

h2 {
  font-size: 5rem;
  text-shadow: 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
}

article {
  background-color: var(--green);
  padding: 2rem;
}

.obstacles {
  background-color: var(--orange);
  padding: 0 auto;
}
section {
  padding: 5rem;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.1) inset,
    0px -10px rgba(0, 0, 0, 0.1) inset;
}
.obstacles-group article {
  border-radius: 10px;
}

.prizes-group article {
  border: dashed var(--yellow);
}
.prizes {
  background-color: var(--green);
}
article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 2rem;
}

input {
  display: flex;
  margin: 0;
  border-style: none;
  background-color: var(--orange);
  width: 100%;
  outline: none;
  padding: 1rem;
  border-radius: 5px;
}
.apply .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
::placeholder {
  color: white;
  font-family: Atma, sans-serif;
  font-size: 1.254rem;
}

button {
  background-color: var(--yellow);
  border-style: none;
  padding: 1rem;
  border-radius: 5px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  margin-top: 0.75rem;
  font-size: 1.5rem;
}

footer {
  background-color: var(--yellow);
  color: black;
  padding: 2rem 0;
  text-align: center;
  box-shadow: 0px 10px rgba(0, 0, 0, 0.1) inset;
}

form {
  width: 600px;
}

article img {
  width: 100%;
  height: auto;
  transition: transform 0.8s;
}

@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }
  .wrap {
    padding: 0 auto;
    min-height: 50vh;
  }

  button:hover {
    background-color: var(--green);
    color: white;
  }
  .obstacles-group article:hover {
    background-color: var(--yellow);
    color: var(--orange);
  }

  .prizes-group article img:hover {
    transform: rotate(360deg) scale(1.2);
  }

  li:hover {
    transform: rotate(7deg) scale(1.4);
  }

  li:nth-of-type(even):hover {
    transform: rotate(-7deg) scale(1.4);
  }
}
